mixin sRegister()
	// start sRegister
	+b.SECTION.sRegister.section#sRegister&attributes(attributes)
		.container
			+b.section-title--lg
				h2 Регистрация на&nbsp;мероприятиях
				p Полный комплекс услуг по&nbsp;встрече и&nbsp;регистрации гостей на мероприятиях, организация систем контроля доступа и&nbsp;сбор информации о&nbsp;перемещениях участников
			.row.roww-40
				mixin item(i, t, p)
					.col-md-6
						+e.wrapper
							+e.item( class="wow zoomIn" data-wow-duration=`${dur }s`)
								.row.align-items-center
									.col-auto
										+icon(`register-${i}`)
									.col
										+e.H5.subtitle!= t
								+e.text 
									p!= p
				+item(`1`, `ПРЕДВАРИТЕЛЬНАЯ <br> РЕГИСТРАЦИЯ УЧАСТНИКОВ`, `Функциональная и&nbsp;полностью настраиваемая система онлайн-регистрации участников с&nbsp;возможностью оплаты банковскими картами, электронными деньгами и&nbsp;счетами для юридических лиц.`)
				+item(`2`, `РЕГИСТРАЦИЯ <br> НА&nbsp;ПЛОЩАДКЕ (ОФЛАЙН)`, `Встреча участников и&nbsp;моментальная регистрация: печать бэйджей любого типа, выдача сумок и&nbsp;промо-материалов, консультация и&nbsp;создание отличного настроения с&nbsp;первого шага.`)
				+item(`3`, `ДОПОЛНИТЕЛЬНЫЕ <br> ВОЗМОЖНОСТИ ДЛЯ УЧАСТНИКОВ`, `ИспользованиеИспользование RFID, QR&nbsp;и&nbsp;Штрих-код для отслеживания перемещений в&nbsp;режиме реального времени, персонализация в&nbsp;одно прикосновение (печать фото, дипломов и&nbsp;сертификатов).`)
				+item(`4`, `СТАТИСТИКА, ОТСЛЕЖИВАНИЕ И&nbsp;АНАЛИТИКА`, `Детальная статистика о динамике регистрации и распределении участников по типам, подробные финансовые отчеты, онлайн-обновляемые данные об участниках на площадке мероприятия.`)

	// end sRegister