.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-advantage-1 {
	font-size:(97/10)*1rem;
	width:(97/97)*1em;
}
.icon-advantage-2 {
	font-size:(97/10)*1rem;
	width:(97/97)*1em;
}
.icon-advantage-3 {
	font-size:(97/10)*1rem;
	width:(97/97)*1em;
}
.icon-arrow-left {
	font-size:(28/10)*1rem;
	width:(52/28)*1em;
}
.icon-arrow-right {
	font-size:(28/10)*1rem;
	width:(52/28)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-difference {
	font-size:(19/10)*1rem;
	width:(110/19)*1em;
}
.icon-email {
	font-size:(17/10)*1rem;
	width:(16/17)*1em;
}
.icon-mail {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-phone {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-phone-call {
	font-size:(473.81/10)*1rem;
	width:(473.81/473.81)*1em;
}
.icon-register-1 {
	font-size:(57/10)*1rem;
	width:(57/57)*1em;
}
.icon-register-2 {
	font-size:(57/10)*1rem;
	width:(57/57)*1em;
}
.icon-register-3 {
	font-size:(56/10)*1rem;
	width:(57/56)*1em;
}
.icon-register-4 {
	font-size:(56/10)*1rem;
	width:(57/56)*1em;
}
.icon-servise-1 {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-servise-2 {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-servise-3 {
	font-size:(22/10)*1rem;
	width:(30/22)*1em;
}
.icon-servise-4 {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-servise-5 {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-servise-6 {
	font-size:(41/10)*1rem;
	width:(41/41)*1em;
}
.icon-servise-7 {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-servise-8 {
	font-size:(30/10)*1rem;
	width:(23/30)*1em;
}
.icon-servise-9 {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-web {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
