mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			.row
				.col
					+b.section-title
						h2 Мы&nbsp;всегда на&nbsp;связи и&nbsp;готовы к&nbsp;любым проектам
						.h4 Оставьте Ваши контактные данные и&nbsp;мы&nbsp;подберем для Вас лучшие решения для организации онлайн-трансляции.
				.col-lg-auto.d-lg-flex.align-items-center( class="wow  fadeInUp "  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`   )
					+form-wrap
						+input("Ваше имя",'text','','name')
						+input("Номер телефона","tel")(required) 
						+e.INPUT.btn(type="submit" value="Отправить") 
						//- +polite()
	// end sForm