mixin sPhoto()
	// start sPhoto
	+b.SECTION.sPhoto.section#sPhoto&attributes(attributes)
		.container
			+b.section-title--lg
				h2 Фото регистрации
				+e.wrap
					span Мы&nbsp;провели регистрацию и&nbsp;аккредитацию участников на&nbsp;множестве мероприятий, вот некоторые из&nbsp;них.
					+e.btn(href="#") Смотреть все кейсы
			.row( class="wow fadeInUp" data-wow-duration=`${dur }s`   )
				.col-lg-8
					+e.slider--js.swiper-container
						+e.wrapper.swiper-wrapper
							mixin slide(i)
								+e.slide.swiper-slide
									img.res-i.swiper-lazy(src="#" data-src=`img/@2x/photo-${i}` alt="")
							+slide(`01.jpg`)
							+slide(`02.png`)
							+slide(`03.webp`)
							+slide(`04.jpg`)
							+slide(`05.jpg`)
							+slide(`06.jpg`)
							+slide(`07.jpg`)
							+slide(`08.jpg`)
							+slide(`09.jpg`)
							+slide(`10.jpg`)
							+slide(`11.jpg`)
							+slide(`12.jpg`)
							+slide(`13.jpg`)
							+slide(`14.jpg`)
							+slide(`15.jpg`)
							+slide(`16.png`)
							+slide(`17.jpg`)
							+slide(`18.jpg`)
							+slide(`19.jpg`)
							+slide(`20.jpg`)
							+slide(`21.jpg`)
							+slide(`22.jpg`)
							+slide(`23.jpg`)
							+slide(`24.jpg`)
							+slide(`25.jpg`)
							+slide(`26.jpg`)
							+slide(`27.jpg`)
							+slide(`28.jpg`)
							+slide(`29.jpg`)
							+slide(`30.jpg`)
							+slide(`31.jpg`)
							+slide(`32.jpg`)
							+slide(`33.jpg`)
							+slide(`34.jpg`)
							//- +slide(`35.jpg`)
							+slide(`36.jpg`)
							+slide(`37.jpg`)
							+slide(`38.jpg`)
							+slide(`39.jpg`)
							+slide(`40.jpg`)
							+slide(`41.jpg`)
							+slide(`42.jpg`)
							+slide(`43.jpg`)
							+slide(`44.jpg`)
							+slide(`45.jpg`)
							+slide(`46.jpg`)
							+slide(`47.jpg`)
							+slide(`48.jpg`)
							+slide(`49.jpg`)
							+slide(`50.jpg`)
							+slide(`51.jpg`)
							+slide(`52.jpg`)
							+slide(`53.jpg`)
							+slide(`54.jpg`)
							+slide(`55.jpg`)
							+slide(`56.jpg`)
							+slide(`57.jpg`)
							+slide(`58.jpg`)
							+slide(`59.jpg`)
							+slide(`60.jpg`)
							+slide(`61.jpg`)
							+slide(`62.jpg`)
							+slide(`63.jpg`)
							+slide(`64.jpg`)
							+slide(`65.jpg`)
							+slide(`66.jpg`)
							+slide(`67.jpg`)
							+slide(`68.jpg`)
							+slide(`69.jpg`)
							+slide(`70.jpg`)
							+slide(`71.jpg`)
							+slide(`72.jpg`)
							+slide(`73.jpg`)
							+slide(`74.jpg`)
							+slide(`75.jpg`)
							+slide(`76.jpg`)
							+slide(`77.jpg`)
							+slide(`78.jpg`)
							+slide(`79.jpg`)
							+slide(`80.jpg`)
							+slide(`81.jpg`)
							+slide(`82.jpg`)
						+e.navigation
							+e.btn-nav.swiper-button-prev
							+e.btn-nav.swiper-button-next
	// end sPhoto