html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch; 
}
.screen{ 
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0 ;
	opacity: 0;
	// opacity: 0.7;
} 



body,
html {
	font-size: $em-base;
	// @include font-size(1rem);
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: ''; position: absolute; 	left: 0; 	top: 0; 	width: 100%; height: 100%; @include mt; 	background-color: #000000; opacity: 0; 	z-index: -1; top: 0;
	}

	&.fixed {
		overflow: hidden; position: absolute; width: 100%; left: 0; top: 0; z-index: 999;

		&::before {
			z-index: 999; 
			opacity: 0.76;
		}
	}
}
.section { 
	@include bgs; 
		padding-top: rem(40px);
		padding-bottom: rem(40px); 
}

.section-title {
	@extend .h2;
	padding-bottom: em(10); 
	>h2 {
		font-size: inherit;
		
		@include media-breakpoint-up(md) {}
	}
}


// @include media-breakpoint-up(lg) {
// 	.container {
// 		// padding-left: 0;
// 		// padding-right: 0;
// 	}
// }



.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {position: relative;overflow: hidden;height: 100%;}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom {

	.mfp-container,
	&.mfp-bg {opacity: 0;backface-visibility: hidden;
transition: all 0.3s ease-out;
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {

		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0; 
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0; 
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* start state */

.my-mfp-zoom-in {
	.zoom-anim-dialog {opacity: 0;transition: all 0.2s ease-in-out;transform: scale(0.8);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: scale(1);
	}

	&.mfp-removing .zoom-anim-dialog {
		transform: scale(0.8);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}

.my-mfp-slide-bottom {
	.zoom-anim-dialog {opacity: 0;transition: all 0.2s ease-out;transform: translateY(-20px) perspective(600px) rotateX(10deg);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: translateY(0) perspective(600px) rotateX(0);
	}

	&.mfp-removing .zoom-anim-dialog {
		opacity: 0;
		transform: translateY(-10px) perspective(600px) rotateX(10deg);
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}


.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;
		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}

input,
textarea {
	@include input-placeholder {
		// color: red;
	}

	;
}

 .strong{
	 font-weight: bold;
 }
 ul{
	 padding-left: 0;
 }
.res-i {
	max-width: 100%;
	width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {
 
// 	}
// }


input[type='number'] {
  -moz-appearance:textfield;
}
select::-ms-expand {
	display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.invisible{
	position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;clip: rect(0 0 0 0 );overflow: hidden;
}

 

.control-wrap{
	position: relative;
}

.swiper-button-hand{
	width: 45px;
	height: 16px;
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	&-next{
		// background-image: url(../img/arr-right.png);
		right: 0;
	}
	&-prev{
		left: 0;
		// background-image: url(../img/arr-left.png);

	}

}

.swiper-pagination{
	width: 100%;
	text-align: center;
	&-bullet{
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		&-active,
		&:hover{
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) { 
	.wow{
		visibility: hidden; 
}
}


picture{
	display: block;
	// display: flex;
	width: 100%;
	// height: 100%;
	img{
		@extend .res-i;
	}
	img.object-fit-js{
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

.object-fit-js img{
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a{
	@include mt;
}

.picture-bg{
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap{
	position: relative;
	z-index: 2;
}