$default-font: Gilroy;
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2;

@include font-face ($default-font, $addr + "Gilroy-Regular/Gilroy-Regular", $file-formats: $file-format);
@include font-face ($default-font, $addr + "Gilroy-Bold/Gilroy-Bold", bold, $file-formats: $file-format);
@include font-face ($default-font, $addr + "Gilroy-SemiBold/Gilroy-SemiBold", 600, $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold