$output-bourbon-deprecation-warnings: false;
// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "../../node_modules/rfs/scss";
 
@import "mixin";
@import "vars";
@import "fonts";
@import "../../public/img/svg/_sprite";
@import "bootstrap-theme/bootstrap";
// @import "../libs/animate";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fontawesome";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-brands";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-regular";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-solid";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/scss/fa-light";
// @import "../libs/magnificPopup/magnific-popup.sass";
// @import "../libs/swiper/swiper.min.css";
// @import "../libs/select2-4.0.6-rc.1/dist/css/select2.min";
// @import "../libs/dropzone";
// @import "../libs/gijgo-master/dist/combined/css/gijgo";
// @import "../libs/gijgo-master/dist/combined/css/demo.min";
 
// @import "../libs/ion.rangeSlider/css/ion.rangeSlider.min.css";

@import "base"; 
@import '../pug/blocks/**/*.scss';
@import "media";// Всегда в конце
