mixin sRetransmission()
	// start sRetransmission
	+b.SECTION.sRetransmission.section#sRetransmission.bg-wrap&attributes(attributes)
		+pic('sRetransmission-bg.jpg','bg').picture-bg
		.container
			+b.section-title
				h2 Возможности ретрансляции
				.h4 Трансляция в записи
			ul( class="wow  fadeInRight "  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`   )
				li HD трансляция записи на любые платформы*
				li Высококачественный звук
				li Мультиязычные трансляции
				li Синхронный перевод
				li Открытые трансляции
				li Закрытые трансляции
				li Интерактив для зрителей: 
	// end sRetransmission