mixin sBroadcasts()
	// start sBroadcasts
	+b.SECTION.sBroadcasts#sBroadcasts&attributes(attributes)
		.container.section
			+b.section-title
				h2 Что можно транслировать?
				
			+b.tabs.resp-tabs-js( class="wow fadenUp "  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`   )
				.row

					.col-xxl-6.col-xl-5 
						+e.caption.resp-tabs-list
							+e.btn.resp-tab-btn КОНФЕРЕНЦИИ 
							+e.btn.resp-tab-btn ПРЕЗЕНТАЦИИ 
							+e.btn.resp-tab-btn церемония награждения
							+e.btn.resp-tab-btn ВЕБИНАРЫ
							+e.btn.resp-tab-btn КУРСЫ
							+e.btn.resp-tab-btn Public talk
							+e.btn.resp-tab-btn Интервью
							+e.btn.resp-tab-btn КОРПОРАТИВНЫЕ ВСТРЕЧИ
							+e.btn.resp-tab-btn ТИМБИЛДИНГ
							+e.btn.resp-tab-btn КВИЗ
							+e.btn.resp-tab-btn МАСТЕР-КЛАСС

					+e.wrap.resp-tabs-container.col
						mixin content(t)
							+e.content.resp-tabs-content.resp-tab-content&attributes(attributes)
								+e.title.d-none.d-xl-block= t
								block 
						+content('КОНФЕРЕНЦИИ ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('ПРЕЗЕНТАЦИИ ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('церемония награждения')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('ВЕБИНАРЫ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('КУРСЫ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('Public talk')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('Интервью')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('КОРПОРАТИВНЫЕ ВСТРЕЧИ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('ТИМБИЛДИНГ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('КВИЗ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('МАСТЕР-КЛАСС')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

				+pic("Broadcasts-img.png").d-none.d-xl-block
	// end sBroadcasts