mixin sBroadcasts()
	// start sBroadcasts
	+b.SECTION.sBroadcasts#sBroadcasts&attributes(attributes)
		.container.section
			+b.section-title
				h2 Что можно транслировать?
				
			+b.tabs.resp-tabs-js( class="wow fadenUp "  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`   )
				.row

					.col-xxl-6.col-xl-5 
						+e.caption.resp-tabs-list
							+e.btn.resp-tab-btn КОНФЕРЕНЦИИ 
							+e.btn.resp-tab-btn ПРЕЗЕНТАЦИИ 
							+e.btn.resp-tab-btn церемония награждения
							+e.btn.resp-tab-btn ВЕБИНАРЫ
							+e.btn.resp-tab-btn КУРСЫ
							+e.btn.resp-tab-btn Public talk
							+e.btn.resp-tab-btn Интервью
							+e.btn.resp-tab-btn КОРПОРАТИВНЫЕ ВСТРЕЧИ
							+e.btn.resp-tab-btn ТИМБИЛДИНГ
							+e.btn.resp-tab-btn КВИЗ
							+e.btn.resp-tab-btn МАСТЕР-КЛАСС

					+e.wrap.resp-tabs-container.col
						mixin content(t)
							+e.content.resp-tabs-content.resp-tab-content&attributes(attributes)
								+e.title.d-none.d-xl-block= t
								block 
						+content('КОНФЕРЕНЦИИ ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('ПРЕЗЕНТАЦИИ ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('церемония награждения')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('ВЕБИНАРЫ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('КУРСЫ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('Public talk')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('Интервью')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('КОРПОРАТИВНЫЕ ВСТРЕЧИ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('ТИМБИЛДИНГ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('КВИЗ')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

						+content('МАСТЕР-КЛАСС')
							p Это вещание любого мероприятия в интернет. Конференция, fashion показ, мастер-класс, фестиваль, конкурс, спортивное соревнование, выставка, награждение, концерт, корпоратив, свадьба, детский утренник — теперь это все можно посмотреть в режиме реального времени в любой точке мира, где есть интернет.

				+pic("Broadcasts-img.png").d-none.d-xl-block
	// end sBroadcasts

mixin sBroadcasts2()
	// start sBroadcasts
	+b.SECTION.sBroadcasts.bg-light#sBroadcasts&attributes(attributes)
		.container.section
			+b.section-title--lg
				h2 Что можно транслировать?
				
			+b.tabs.resp-tabs-js( class="wow fadeInUp" data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`)
				.row

					.col-xxl-6.col-xl-5 
						+e.caption.resp-tabs-list
							+e.btn.resp-tab-btn Телемосты, телеконференции 
							+e.btn.resp-tab-btn корпоративные мероприятия 
							+e.btn.resp-tab-btn Презентация продуктов и&nbsp;услуг
							+e.btn.resp-tab-btn Мастер-классы
							+e.btn.resp-tab-btn Спортивные соревнования
							+e.btn.resp-tab-btn Концерты и&nbsp;театральные постановки

					+e.wrap.resp-tabs-container.col
						mixin content2()
							+e.content--sm.resp-tabs-content.resp-tab-content&attributes(attributes)
								block 
						+content2
							p Вы&nbsp;&mdash; организатор научной, отраслевой или бизнес-конференции, которая одновременно проходит на&nbsp;нескольких площадках в&nbsp;разных зданиях и&nbsp;разных городах. Для участия в&nbsp;конференции зарегистрировалось большое количество людей, арендованный вами зал не&nbsp;вместит такого количества участников. Выход&nbsp;&mdash; онлайн-трансляция конференции в&nbsp;интернет и&nbsp;организация телемоста.

						+content2
							p Вы&nbsp;&mdash; организатор корпоративного мероприятия: обучающего или информационного. Интересы вашей компании представлены в&nbsp;нескольких городах. Проведение телемоста между разными подразделениями может быть эффективным инструментом не&nbsp;только в&nbsp;маркетинге, рекламе, но&nbsp;и&nbsp;в&nbsp;сфере управления.
							p Объединять сотрудников из&nbsp;разных регионов, создавать корпоративную культуру, обучать персонал станет удобнее и&nbsp;дешевле с&nbsp;помощью прямых видео трансляций через интернет. Возможность выступления руководства в&nbsp;прямом эфире, трансляция конференции с&nbsp;приглашенными спикерами, помогут успешнее решать поставленные перед компанией задачи.

						+content2
							p Вы&nbsp;&mdash; производитель новой линейки товаров, строительного проекта, бизнес-идеи или оригинальной услуги.
							p Общение со&nbsp;своей целевой аудиторией с&nbsp;помощью проведения интернет-трансляции презентации выводит бизнес на&nbsp;качественно новый уровень. Сегодняшнему потребителю необходимо подробно и&nbsp;наглядно рассказать, как ваш продукт поможет решить его проблемы. Прямая видео-трансляция позволяет в&nbsp;доступной и&nbsp;понятной форме донести информацию о&nbsp;продуктах и&nbsp;проектах, способах их&nbsp;применения, их&nbsp;достоинствах и&nbsp;отличиях.
							p Используя онлайн-трансляции в&nbsp;своей системе контент-маркетинга вы&nbsp;повысите интерес к&nbsp;вашим продуктам и&nbsp;проектам. Станете понятнее и&nbsp;ближе потребителю.

						+content2
							p Проводите мастер-класс и&nbsp;ищете подрядчика для проведения трансляции? 
							p Мы&nbsp;готовы облегчить организационный процесс.
							p Цель любой онлайн-трансляции&nbsp;&mdash; вывод контента в&nbsp;интернет на&nbsp;нужный сайт, социальную сеть или на&nbsp;специальный ресурс, куда будут подключаться онлайн-зрители. У&nbsp;каждой платформы есть свои достоинства и&nbsp;недостатки, если вы&nbsp;затрудняетесь в&nbsp;выборе, мы&nbsp;вас сориентируем! 
							p Мы&nbsp;с&nbsp;удовольствием пообщаемся с&nbsp;вами и определим количество камер, микрофонов, экранов, операторов, режиссеров.
							p Оценим качество интернета на&nbsp;площадке и&nbsp;потребность в&nbsp;дублирующем канале.
							p Выясням нужно&nbsp;ли дополнительное освещение и&nbsp;звуковое оборудование.

						+content2
							p Вы&nbsp;&mdash; организатор спортивного мероприятия, тренер, владелец спортивного клуба, директор спортшколы, спортивного заведения...
							p Для популяризации вашего вида спорта, продвижения клуба или спортшколы и&nbsp;дополнительного заработка вам поможет проведение прямых онлайн-трансляций спортивных соревнований в&nbsp;интернет. 
							p Независимо от&nbsp;масштаба мероприятия, будь&nbsp;то соревнования по&nbsp;командным видам спорта, бодибилдингу, единоборствам, биллиарду, шахматам, легкой атлетики, профессиональные, любительские или детские&nbsp;&mdash; мы&nbsp;организуем и&nbsp;проведем прямую многокамерную трансляцию, чтобы онлайн-зрители почувствовали атмосферу максимального присутствия на&nbsp;состязании.

						+content2
							p Вы&nbsp;&mdash; руководитель или владелец театра. Драматического, музыкального, оперного, кукольного, танцевального. 
							p Вы&nbsp;&mdash; музыкант, музыкальная группа, оркестр или хоровой коллектив. Работаете с&nbsp;классическим или современным материалом.
							p Вы&nbsp;&mdash; руководитель танцевальной студии, музыкального коллектива, музыкальной школы, колледжа, техникума, института, академии. 
							p Онлайн-трансляция спектакля, представления, постановки, перформанса или концерта поможет увеличить количество проданных билетов без оглядки на&nbsp;количество мест в&nbsp;зрительном зале, ведь интернет-площадка вместит всех. 
							p Концерт из&nbsp;зала, студии или open-air, приобретет большой резонанс благодаря прямой видео трансляции в&nbsp;сеть, на&nbsp;youtube-канал или любую другую платформу.

				+pic("Broadcasts-img-2.png").d-none.d-xl-block.wow.fadeInRight
	// end sBroadcasts