
	// start .sRoadMap
	.sRoadMap {
		--sTPB: #{rem(120)};
		// img{
		// 	@include media-breakpoint-up(xl) {

		// 		margin-top: rem(-180);
		// 	}
		// 	margin-top: rem(-100);
		// }
		&__wrap{
			position: relative;
			min-height: rem(830);
			@include media-breakpoint-up(xxl) {

				zoom: 1;
			}
			@include media-breakpoint-up(xl) {

				zoom: .8;
			}
			@include media-breakpoint-up(lg) {

				zoom: .7;
			}
			@include media-breakpoint-up(md) {

				zoom: .5;
			}
		}
		&__item{
			position: absolute;
		
		}
		&__title{
			font-size: rem(24);
			color: $primary;
			font-weight: bold;
		}
		&__item:nth-child(1),
		&__item:nth-child(2),
		&__item:nth-child(3){
			left: auto;
			top: auto;
			position: relative;
			width: rem(415);
			margin-bottom: rem(110);
			.sRoadMap__caption{
				background: #F3F3F3;
				padding: rem(20) rem(30);
				p{
					margin-bottom: 0;
				}
			}
			picture{
					position: absolute;
					z-index: 2;
			}
		}
		&__item{
			&::before{
				content: '';
				position: absolute;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				z-index: -1;
			}
		}
		&__item:nth-child(1){
			picture{
				right: rem(30);
				bottom: 0;
				width: rem(202);
			}
			&::before{
				background-image: url(../img/svg/road-1.svg);
				width: rem(384);
				height: rem(537);
				left: 100%;
				top: rem(-50);
			}
		}
		&__item:nth-child(2) {
			picture{
				right: rem(-30);
				bottom: rem(8);
				width: rem(150);
			}
		}
		&__item:nth-child(3) {
			picture{
				right: rem(-5);
				bottom: rem(-18);
				width: rem(160);
			}
		}

		&__item:nth-child(4) {
			left: 50%;
			margin-left: rem(-100);
			top: rem(-40);
			picture {
				margin-top: rem(-50px);
				margin-left: rem(80);
				width: rem(150);
				// right: rem(30);
				// bottom: 0;
			}
			&::before {
				background-image: url(../img/svg/road-2.svg);
				width: rem(540);
				height: rem(500);
				// right: -70%;
				left: rem(-80);
				top: rem(60);
			}
		}
		&__item:nth-child(5) {
			left: 50%;
			margin-left: rem(-240);
			top:rem(160);
			.sRoadMap__title{
				margin-left: rem(112);
			}
			.sRoadMap__img-wrap {
					width: rem(193);
					height: rem(193);
					padding: rem(14);
					border: 3px solid rgba($color: #788eaa, $alpha: .2);
					border-radius: 50%;
					margin-top: rem(-80);
			}
			picture {
				margin-top: 0;
				margin-left: 0; 
				// right: rem(30);
				// bottom: 0;
			}
		}
		 
		&__item:nth-child(6) {
			left: 50%;
			margin-left: rem(-140);
			top:rem(340);
			display: flex;
			align-items: flex-end;
			.sRoadMap__title{
				// margin-left: rem(112);
				margin-right: rem(16);
				padding-bottom: 1rem;
			}
			.sRoadMap__img-wrap {
					width: rem(235);
					height: rem(235);
			 
			}
			picture {
				margin-top: 0;
				margin-left: 0; 
				// right: rem(30);
				// bottom: 0;
			}
		}
		&__item:nth-child(7) {
			width: rem(310);
			height: rem(310);
			border-radius: 50%;
			background-color: #ffffff;
			border: rem(33) solid  rgba($color: $primary, $alpha: .2);
			left: 67%;
			top: rem(100);
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			img{
				margin-bottom: rem(28);
				width: rem(137);
			}
			.sRoadMap__title{
				font-size: rem(20);
				color: $body-color;
			}
			&::before {
				background-image: url(../img/svg/road-3.svg);
				width: rem(890);
				height: rem(560);
				// right: -70%;
				right: rem(-200);
				top: rem(-220);
			}
		}
			&__item:nth-child(8) {
				display: flex;align-items: flex-end;
					top: rem(-150);
					// top: -1000px;
					right: rem(-100);
					flex-direction: row-reverse;
					picture{
						position: relative;
						&::before{
							content: '';
							position: absolute;
							z-index: -1;
							width: rem(243);
							height: rem(243);
							background: #F3F3F3;
							border-radius: 50%;
							bottom: 0;
						}
					}
				.sRoadMap{
					&__title{
						// 
						position: relative;
						left: rem(-80);
						padding-bottom: rem(25);
						// margin-left: rem(-100);
					}
				}
			}
			
			&__item:nth-child(9) {
				display: flex;align-items:  center;
					bottom: rem(150);
					// top: -1000px;
					right: rem(-100); 
					picture{
						position: relative;
						&::before{
							content: '';
							position: absolute;
							z-index: -1;
							width: rem(243);
							height: rem(243);
							background: #F3F3F3;
							border-radius: 50%;
						 @include a-cent(y);
						}
					}
				.sRoadMap{
					&__title{
						// 
						position: relative;
						right: rem(-50);
						// padding-bottom: rem(25);
						// margin-left: rem(-100);
					}
				}
			}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sRoadMap