mixin headerBlock()
	// start headerBlock
	+b.HEADER.headerBlock.section
		.container( class="wow fadeIn  "   data-wow-duration=`${dur }s`   )
			.row
				.col-xl-6.col-lg-7
					h1 Поможем провести мероприятие в&nbsp;онлайн-формате
					p Компания RUVENTS предлагает комплексный набор настраиваемых решений для проведения мероприятия в&nbsp;онлайн-формате
					+e.btn(href="https://formdesigner.ru/form/view/151680",target="_blank",onclick="FDPopup.open(151680,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;")  НАЧАТЬ ОРГАНИЗАЦИЮ
				.col
					+e.img-wrap
						img.res-i(src="img/svg/head-img.svg", alt="")
	// end headerBlock
	
mixin headerBlockNew()
	// start headerBlock
	+b.HEADER.headerBlock--stream.section.bg-light
		.container( class="wow fadeIn  "   data-wow-duration=`${dur }s`   )
			h1 Мероприятия в&nbsp;Online&nbsp;и&nbsp;LIVE
			+e.banner
				picture
					source(type='image/webp' srcset='img/@2x/webp/head-bg.webp' media='(min-width:768px)')
					//- source(type='image/webp' srcset='img/@2x/webp/head-l.webp' media='(min-width:768px)')
					source(type='image/webp' srcset='img/@1x/webp/head-l.webp')
					source(type='image/jpg' srcset='img/@2x/head-bg.jpg' media='(min-width:768px)') 
					//- source(type='image/jpg' srcset='img/@1x/head-l.png' media='(min-width:768px)') 
					img(src='img/@1x/head-l.png' alt='' loading='lazy')

				+e.caption
					+e.title Профессиональная  трансляция стала доступной
					+e.btn-green(href="https://formdesigner.ru/form/view/151680",target="_blank",onclick="FDPopup.open(151680,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;")  РАССЧИТАТЬ СТОИМОСТЬ
	// end headerBlock

mixin headerBlockEvents()
	// start headerBlock
	+b.HEADER.headerBlock--offline.section.bg-light
		.container( class="wow fadeIn  "   data-wow-duration=`${dur }s`   )
			h1 Мероприятия в&nbsp;офлайн
			+e.banner
				picture
					source(type='image/webp' srcset='img/@2x/webp/head-bg-2.webp' media='(min-width:768px)')
					source(type='image/webp' srcset='img/@1x/webp/head-bg-2.webp')
					source(type='image/jpg' srcset='img/@2x/head-bg-2.jpg' media='(min-width:768px)') 
					img(src='img/@1x/head-bg-2.jpg' alt='' loading='lazy')

				+e.heading
					+e.subtitle 22&nbsp;января 2021 разрешили возобновить проведение массовых мероприятий
					+e.btn-green(href="https://formdesigner.ru/form/view/151680",target="_blank",onclick="FDPopup.open(151680,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;")  РАССЧИТАТЬ СТОИМОСТЬ
	// end headerBlock