mixin logo(i)
	+e.col.col-xl-2.col-lg-3.col-md-3.col-4( class="wow zoomIn " data-wow-duration=`${dur }s`)
		+e.img-wrap
			+pic(`logo-${i}.png`,'',0)
mixin sClientsBody(data)
	// start sClients
	+b.SECTION.sClients.section#sClients&attributes(attributes)
		.container
			+b.section-title(class= data.c)
				h2!= data.t
			block
	// end sClients
mixin sClients()
	+sClientsBody({t: `Клиенты`})
		+e.row--first.row
			+logo('1')
			+logo('2')
			+logo('3')
			+logo('4')
			+logo('5')
			+logo('6')
			+logo('7')
			+logo('8')
			+logo('9')
			+logo('10')
			+logo('11')
			+logo('12')
			+logo('13')
		+e.row.row
			+logo('14')
			+logo('15')
			+logo('16')
			+logo('17')
			+logo('18')
			+logo('19')
			//- +logo('')
			//- +logo('')
	

mixin sClients2()
	+sClientsBody({t: `Клиенты`, c: `section-title--lg`})
		+e.row.row.justify-content-center
			+logo('1')
			+logo('2')
			+logo('3')
			+logo('4')
			+logo('5')
			+logo('6')
			//- +logo('7')
			+logo('8')
			+logo('9')
			+logo('10')
			//- +logo('11')
			+logo('12')
			+logo('13')
			+logo('14')
			+logo('15')
			+logo('16')
			+logo('17')
			+logo('18')
			//- +logo('19')
			+logo('20')
			+logo('21')
			+logo('22')
			+logo('23')
			+logo('24')
			+logo('25')
			+logo('26')
			+logo('27')
			+logo('28')
			+logo('29')
			+logo('30')
			+logo('31')
			+logo('32')
			+logo('33')
			+logo('34')
			+logo('35')
			+logo('36')
			+logo('37')
			+logo('38')
			+logo('39')
			+logo('40')
			+logo('41')
			+logo('42')
			+logo('43')
			+logo('44')
			+logo('45')
			+logo('46')
			+logo('47')
			+logo('48')
			+logo('49')
			+logo('50')
			+logo('51')
			+logo('52')
			+logo('53')
			+logo('54')
			+logo('55')
			+logo('56')
			+logo('57')
			+logo('58')
			+logo('59')
			+logo('60')
			+logo('61')
			+logo('62')
			+logo('63')
			+logo('64')
			+logo('65')
			+logo('66')
			+logo('67')
			+logo('68')
			+logo('69')
			+logo('70')
			+logo('71')
			+logo('72')
			+logo('73')
			+logo('74')
			+logo('75')
			+logo('76')
			+logo('77')
			+logo('78')
			+logo('79')
			+logo('80')
			+logo('81')
			+logo('82')
