mixin sTestRating()
	// start sTestRating
	+b.SECTION.sTestRating.section#sTestRating&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sTestRating
				
			.row
	// end sTestRating