mixin sVariants()
	// start sVariants
	+b.SECTION.sVariants.section#sVariants&attributes(attributes)
		.container
			+b.section-title
				h2 Варианты предоставления информации
				
			.row
				mixin item(i,t,p)
					+e.col.col-lg-4
						+e.item.bg-wrap
							+pic(`sVariants-${i}.jpg`,'bg',0).picture-bg 
							+e.title!= t
							p!= p
				+item(`1`,`Онлайн  <br> трансляция`,`Выбираете место и&nbsp;запускаете трансляцию без возможности незаметного устранения неточностей в&nbsp;повествовании`)
				
				+item(`2`,`Ретрансляция  <br> или онлайн  <br> воспроизведение`,`Требуется заранее записать видео, немного отредактировать  и&nbsp;запустить контролируемую вручную трансляцию. Такой шаг позволит создать впечатление реального времени)`)
				
				+item(`3`,`Комбинированная  <br> трансляция`,`Комплексный проект со&nbsp;всеми сильными сторонами онлайн трансляции и&nbsp;ретрансляции`)
	// end sVariants