extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sServises/_sServises.pug 
include ../blocks/sClients/_sClients.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/sBroadcasts/_sBroadcasts.pug 
include ../blocks/sRoadMap/_sRoadMap.pug 
include ../blocks/sHowToGet/_sHowToGet.pug 
include ../blocks/sIncludes/_sIncludes.pug 
include ../blocks/sVariants/_sVariants.pug 
include ../blocks/sOnline/_sOnline.pug 
include ../blocks/sRetransmission/_sRetransmission.pug 
include ../blocks/sPrices/_sPrices.pug 
include ../blocks/sForm/_sForm.pug 
include ../blocks/sQuestions/_sQuestions.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Организация и проведение деловых и развлекательных мероприятий в России и за рубежом.'
	title= title
	meta(name="description", content="Организация, проведение и техническое сопровождение мероприятий любой сложности в онлайн и офлайн под ключ. Конференции, презентации, выставки, а также эксклюзивные мероприятий для Вас и Ваших клиентов.")
	meta(name="keywords", content="Организация и проведение мероприятий, техническое сопровождение мероприятий, мероприятия под ключ, онлайн трансляции, креативные сценарии, Event в России и за рубежом")
	meta(property='og:title' content='Организация и проведение деловых и развлекательных мероприятий в России и за рубежом.')
	//- meta(property='og:url' content='https://ruvents.com/')
	meta(property='og:type' content='website')
	meta(property='og:description' content='Организация, проведение и техническое сопровождение мероприятий любой сложности в онлайн и офлайн под ключ. Конференции, презентации, выставки, а также эксклюзивные мероприятий для Вас и Ваших клиентов.')
	//- meta(property='og:image' content='https://ruvents.com/img/og-image.jpg')
	//- meta(property='og:image:width' content='1700')
	//- meta(property='og:image:height' content='630')
block pagecontent 
	+mob-mnu()
	.bg-light
		+top-nav().bg-light
		+headerBlockEvents()
		//- +sBroadcasts2
	.main-wrapper
		//- +sRoadMap
		+sHowToGet2
		+sIncludes2
		//- +sVariants
		//- +sOnline
		//- +sRetransmission
		//- +sPrices
		+sForm
		//- +sQuestions
		//- +sServises
		+sClients
		+sAbout
		+sContact(`tel:+7(495)109-02-000`, `+7 (495) 109-02-00`)
	//- +footer()