extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sServises/_sServises.pug 
include ../blocks/sClients/_sClients.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/page-head/_page-head.pug 
include ../blocks/sWays/_sWays.pug 
include ../blocks/sFinServ/_sFinServ.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'RUVENTS – Профессиональные IT решения'
	title= title
	meta(name="description", content="Полный комплекс IT решений для проведения мероприятий в онлайн и офлайн-формате. Разработка индивидуальных сайтов и информационных систем, регистрация участников, личные кабинеты и live-сервисы, интерактивные 3D-модели, онлайн-трансляции и переводы, мобильные приложения, информационные и рекламные кампании, аккредитация участников, контроль доступа на территорию и интерактивные сервисы, производство бейджей и лент, предоставление персонала, аренда оборудования.")
	meta(property='og:title' content='Профессиональные IT решения')
	meta(property='og:url' content='https://ruvents.com/')
	meta(property='og:type' content='website')
	meta(property='og:description' content='Полный комплекс IT решений для проведения мероприятий в онлайн и офлайн-формате. Разработка индивидуальных сайтов и информационных систем, регистрация участников, личные кабинеты и live-сервисы, интерактивные 3D-модели, онлайн-трансляции и переводы, мобильные приложения, информационные и рекламные кампании, аккредитация участников, контроль доступа на территорию и интерактивные сервисы, производство бейджей и лент, предоставление персонала, аренда оборудования.')
	meta(property='og:image' content='https://ruvents.com/img/og-image.jpg')
	meta(property='og:image:width' content='1700')
	meta(property='og:image:height' content='630')
block pagecontent 
	//- +mob-mnu()
	+top-nav2()
	+page-head()

	+sWays()
	+sFinServ()
	+sContact(`tel:+7(495)109-02-000`, `+7 (495) 109-02-00`)
	//- +headerBlock()
	//- +sServises
	//- +sClients
	//- +sAbout
	//- +footer()