extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sServises/_sServises.pug 
include ../blocks/sClients/_sClients.pug 
include ../blocks/sAbout/_sAbout.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'RUVENTS - Набор решений для проведения мероприятий в онлайн-формате'
	title= title
block pagecontent 
	+mob-mnu()
	+top-nav()
	+headerBlock()
	+sServises
	+sClients
	+sAbout
	+sContact()
	//- +footer()