extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
 
	+mob-mnu()

	+header()
		+top-line()
		+top-nav()
	+header-block()
	+s-form()
	+s-contact()
	+footer()