extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sServises/_sServises.pug 
include ../blocks/sClients/_sClients.pug 
include ../blocks/sAbout/_sAbout.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'RUVENTS - Набор решений для проведения мероприятий в онлайн-формате'
	title= title
	meta(name="description", content="Полный комплекс IT решений для проведения мероприятий в онлайн и офлайн-формате. Разработка индивидуальных сайтов и информационных систем, регистрация участников, личные кабинеты и live-сервисы, интерактивные 3D-модели, онлайн-трансляции и переводы, мобильные приложения, информационные и рекламные кампании, аккредитация участников, контроль доступа на территорию и интерактивные сервисы, производство бейджей и лент, предоставление персонала, аренда оборудования.")
	meta(property='og:title' content='Набор решений для проведения мероприятий в онлайн-формате')
	meta(property='og:url' content='https://online.ruvents.com/')
	meta(property='og:description' content='Полный комплекс IT решений для проведения мероприятий в онлайн и офлайн-формате. Разработка индивидуальных сайтов и информационных систем, регистрация участников, личные кабинеты и live-сервисы, интерактивные 3D-модели, онлайн-трансляции и переводы, мобильные приложения, информационные и рекламные кампании, аккредитация участников, контроль доступа на территорию и интерактивные сервисы, производство бейджей и лент, предоставление персонала, аренда оборудования.')
	meta(property='og:image' content='https://online.ruvents.com/img/og-image.jpg')
block pagecontent 
	+mob-mnu()
	+top-nav()
	+headerBlock()
	+sServises
	+sClients
	+sAbout
	+sContact(`tel:+7(495)109-02-000`, `+7 (495) 109-02-00`)
	//- +footer()