extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sServises/_sServises.pug 
include ../blocks/sClients/_sClients.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/sBroadcasts/_sBroadcasts.pug 
include ../blocks/sRoadMap/_sRoadMap.pug 
include ../blocks/sHowToGet/_sHowToGet.pug 
include ../blocks/sIncludes/_sIncludes.pug 
include ../blocks/sVariants/_sVariants.pug 
include ../blocks/sOnline/_sOnline.pug 
include ../blocks/sRetransmission/_sRetransmission.pug 
include ../blocks/sPrices/_sPrices.pug 
include ../blocks/sForm/_sForm.pug 
include ../blocks/sQuestions/_sQuestions.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'RUVENTS - Набор решений для проведения мероприятий в онлайн-формате'
	title= title
block pagecontent 
	+mob-mnu()
	.bg-light
		+top-nav().bg-light
		+headerBlockNew()
		+sBroadcasts
	.main-wrapper
		+sRoadMap
		+sHowToGet
		+sIncludes
		+sVariants
		+sOnline
		+sRetransmission
		+sPrices
		+sForm
		+sQuestions
		//- +sServises
		+sClients
		+sAbout
		+sContact(`tel:+7(495)109-02-000`, `+7 (495) 109-02-00`)
	//- +footer()