mixin sFinServ()
	// start sFinServ
	+b.SECTION.sFinServ.section.wow.fadeInUp#sFinServ&attributes(attributes)
		.container
			+b.section-title--lg
				h2 Финансовые сервисы
			.row.row-20
				mixin item(t)
					.col-lg-4.mb-3
						+e.item.wow.zoomIn!= t
				+item(`Агентские услуги по&nbsp;приему платежей от участников мероприятий`)
				+item(`Полное бухгалтерское сопровождение мероприятий`)
				+item(`Агентские услуги по&nbsp;продаже билетов на&nbsp;мероприятии с&nbsp;использованием кассового терминала`)

	// end sFinServ