mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+mnu()
					
	// end top-nav