.is-sticky {
	z-index: 300;
	position: relative;

	.top-nav {
		z-index: 3000;
		box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
	}
}

.body-offline {
	@include media-breakpoint-up(lg) {
		.top-nav {
			background-color: $white !important;
		}
	}
}

.top-nav {
	// position: absolute;
	// position: fixed;
	position: sticky;
	left: 0;
	top: 0;
	@include media-breakpoint-up(lg) {
		padding-top: rem(60);
	}
	padding-top: rem(15);
	&.fixed {
		// padding-top: rem(15);
		z-index: 3000;
		box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
		background-color: $white;
	}

	@include mt;

	padding-bottom: rem(15);
	width: 100% !important;
	max-width: 100% !important;

	left: 0;
	top: 0;
	z-index: 100;

	// background-color: #ffffff;

	&__nav {
		// text-align: center;
		list-style-type: none;
		// @include roww()
		display: flex;
		max-width: rem(540);
		margin-bottom: 0;
		margin-left: rem(20);
		justify-content: space-between;
		&--wide {
			max-width: rem(810);
			@include media-breakpoint-down(xl) {
				margin-left: 0;
			}
			.top-nav__link {
				@include media-breakpoint-down(xl) {
					font-size: rem(14);
				}
			}
		}
	}

	&__item {
		display: inline-block;
		list-style-type: none;
		font-weight: bold;
		text-transform: uppercase;

		// font-size: rem(16);
	}

	&__tel {
		@extend .h5;
		font-weight: bold;
		// @extend .text-body;
		text-decoration: none !important;
		// color: $primary;

		.icon {
			font-size: rem(30);
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-outline-primary;
		width: rem(170);
	}

	//
	@include media-breakpoint-up(xl) {
		.container {
			position: relative;
			overflow: hidden;
		}
		.row {
			@include roww(26);
		}
	}

	.row {
		align-items: center;
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
