mixin s-content()
	// start s-content
	+b.s-content.section.block-with-lazy#s-content&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-content
				
			.row
	// end s-content