mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 Вопрос-ответ
			+e.items
				+questionItem(`ЗАЧЕМ НУЖНЫ ОНЛАЙН-ИВЕНТЫ?`, 'active')(class='active')
					p Онлайн-мероприятия дают новые возможности для развития бизнеса, повышают лояльность сотрудников и клиентов, обучая их чему-то новому
				+questionItem(`ЗА КАКОЕ ВРЕМЯ МОЖНО ОРГАНИЗОВАТЬ ОНЛАЙН-МЕРОПРИЯТИЕ? `)
					p Риски определяются Вами и&nbsp;могут составлять&nbsp;1% в&nbsp;каждой сделке (консервативная торговля), 3%&nbsp;в&nbsp;каждой сделке (умеренная торговля) или&nbsp;5% в&nbsp;каждой сделке (агрессивная торговля). Риски более&nbsp;5% на&nbsp;сделку не&nbsp;рекомендуются автором. При соблюдении правил торговой системы и&nbsp;риске&nbsp;1% на&nbsp;сделку максимальная временная просадка по&nbsp;счёту не&nbsp;превысит 20%. Важно понимать, что при агрессивной торговле с&nbsp;риском&nbsp;5% на&nbsp;сделку временная просадка по&nbsp;счёту может достигать 50%.

				+questionItem(`КАКОЕ МАКСИМАЛЬНОЕ КОЛИЧЕСТВО УЧАСТНИКОВ МОЖЕТ ПРИСУТСТВОВАТЬ НА ОНЛАЙН-МЕРОПРИЯТИИ? `)
					p Необходимо знание основ компьютерной грамотности, умение пользоваться браузером. Полным новичкам перед тренингом рекомендуется изучение бесплатного курса ссылка &laquo;#[a(href="https://www.infoclub.info/group/details/slyforex" target="_blcnk") Хитрый FOREX]&raquo;, чтобы открыть торговый счёт, научиться пользоваться терминалом и&nbsp;открывать сделки, а&nbsp;также познакомиться авторскими принципами циклического анализа финансовых активов.
				+questionItem(`Где зрители будут/могут смотреть трансляцию?`)
					p Систему можно применять на&nbsp;любом рынке, на&nbsp;любом финансовом активе и&nbsp;в&nbsp;любом торговом терминале. В&nbsp;процессе обучения будет рассматриваться классика для рынка форекс&nbsp;&mdash; терминал MetaTrader4.
				+questionItem(`КАК УДЕРЖИВАТЬ ВНИМАНИЕ УЧАСТНИКОВ? `)
					p Мы&nbsp;рекомендуем для торговли компании: Alpari Limited, Gerchik &amp;&nbsp;Co. При этом&nbsp;Вы можете торговать у&nbsp;любого брокера, которому доверяете.
				+questionItem(`КАК ЗАЩИТИТЬ ТРАНСЛЯЦИЮ?`)
					p Уже во&nbsp;время обучения, за&nbsp;счёт автоматического копирования сделок автора в&nbsp;Ваш терминал. А&nbsp;после обучения у&nbsp;Вас будет уже достаточно знаний и&nbsp;опыта для самостоятельной прибыльной торговли.
				+questionItem(`ЧТО НЕОБХОДИМО ПРЕДПРИНЯТЬ, ЧТОБЫ ИЗБЕЖАТЬ ТЕХНИЧЕСКИХ ПРОБЛЕМ ВО ВРЕМЯ ТРАНСЛЯЦИИ?  `)
					p Вы&nbsp;можете торговать на&nbsp;любом рынке. На&nbsp;обучении будет рассматриваться торговля валютными парами на&nbsp;рынке FOREX. Но&nbsp;применить систему&nbsp;Вы сможете также на&nbsp;рынке акций, фьючерсов и&nbsp;криптовалют. По&nbsp;Вашему запросу на&nbsp;занятиях мастер-группы автор сделает анализ любого интересующего Вас актива.
				+questionItem(`КАКИЕ ОСНОВНЫЕ ПАРАМЕТРЫ ОПРЕДЕЛЯЮТ СТОИМОСТЬ ПРОВЕДЕНИЯ ОНЛАЙН-ТРАНСЛЯЦИИ ПРЕЗЕНТАЦИЙ?`)
					p Вы&nbsp;можете торговать на&nbsp;любом рынке. На&nbsp;обучении будет рассматриваться торговля валютными парами на&nbsp;рынке FOREX. Но&nbsp;применить систему&nbsp;Вы сможете также на&nbsp;рынке акций, фьючерсов и&nbsp;криптовалют. По&nbsp;Вашему запросу на&nbsp;занятиях мастер-группы автор сделает анализ любого интересующего Вас актива.
	// end sQuestions

mixin questionItem(headerTxt, contentClasses)
	+e.item.q-item-js( class="wow  fadeInUp "  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`   )&attributes(attributes)
		+e.header!= headerTxt 
		+e.content.q-content-js(class=contentClasses)
			block