mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title--lg
				h2 Вопрос-ответ
			+e.items
				+questionItem(`ЗАЧЕМ НУЖНЫ ОНЛАЙН-ИВЕНТЫ?`, 'active')(class='active')
					p Онлайн-мероприятия дают новые возможности для развития бизнеса, повышают лояльность сотрудников и&nbsp;клиентов, обучая их&nbsp;чему-то новому.
				+questionItem(`ЗА КАКОЕ ВРЕМЯ МОЖНО ОРГАНИЗОВАТЬ ОНЛАЙН-МЕРОПРИЯТИЕ? `)
					p Все зависит от&nbsp;масштабности мероприятия. На&nbsp;самую простую онлайн-конференцию с&nbsp;участием нескольких спикеров&nbsp;&mdash; около 7&nbsp;дней.
				+questionItem(`КАКОЕ МАКСИМАЛЬНОЕ КОЛИЧЕСТВО УЧАСТНИКОВ МОЖЕТ ПРИСУТСТВОВАТЬ НА ОНЛАЙН-МЕРОПРИЯТИИ? `)
					p Онлайн не&nbsp;лимитирует количество людей. Но&nbsp;существуют платформы, где есть ограничение на&nbsp;количество человек.
				+questionItem(`ГДЕ ЗРИТЕЛИ БУДУТ/МОГУТ СМОТРЕТЬ ТРАНСЛЯЦИЮ?`)
					p Мы&nbsp;можем вещать на&nbsp;ваш сайт (плеер трансляции может быть размещен на&nbsp;Вашем сайте (мы&nbsp;предоставляем код плеера) или ряд популярных сервисов: Youtube, Zoom, Facecast, LiveStream и&nbsp;прочие сети.
				+questionItem(`КАК УДЕРЖИВАТЬ ВНИМАНИЕ УЧАСТНИКОВ? `)
					p Отдайте ведущую роль участникам: дайте им&nbsp;возможность высказаться и&nbsp;быть услышанными. Используйте интерактивы между выступлениями. Если контент исходит от&nbsp;участников, шанс удержать их&nbsp;внимание выше.
				+questionItem(`КАК ЗАЩИТИТЬ ТРАНСЛЯЦИЮ?`)
					p Индивидуальные ссылки, доступ по&nbsp;паролю, использование защищенного протокола передачи данных&nbsp;&mdash; вот некоторые способы без которых на&nbsp;крупных онлайн-мероприятиях не&nbsp;обойтись. Способ, где каждый участник получает собственную ссылку на&nbsp;ивент&nbsp;&mdash; один из&nbsp;наиболее защищенных вариантов.
				+questionItem(`ЧТО НЕОБХОДИМО ПРЕДПРИНЯТЬ, ЧТОБЫ ИЗБЕЖАТЬ ТЕХНИЧЕСКИХ ПРОБЛЕМ ВО ВРЕМЯ ТРАНСЛЯЦИИ?  `)
					p Очевидно, что нанять профессиональную команду с&nbsp;профессиональным оборудованием, и&nbsp;богатым опытом проведения онлайн мероприятий, т.е. нас :-)
					p А&nbsp;еще обязательно провести полную техническую репетицию со&nbsp;всеми спикерами, и&nbsp;техническими службами, как минимум за&nbsp;сутки.
				+questionItem(`КАКИЕ ОСНОВНЫЕ ПАРАМЕТРЫ ОПРЕДЕЛЯЮТ СТОИМОСТЬ ПРОВЕДЕНИЯ ОНЛАЙН-ТРАНСЛЯЦИИ ПРЕЗЕНТАЦИЙ?`)
					p &bull; Размер помещения и&nbsp;количество приглашенных зрителей.
						br
						| &bull; Количество точек съёмки: один спикер, несколько&nbsp;их, будут&nbsp;ли выступать гости, нужно&nbsp;ли будет снимать и&nbsp;показывать отдельно представляемый продукт.
						br
						| &bull; Необходимость дополнительного освещения и&nbsp;использования специализированного съемочного оборудования.
						br
						| &bull; Наличие и&nbsp;качество интернета. Мы&nbsp;обеспечиваем высокоскоростной и&nbsp;бесперебойный интернет.
						br
						| &bull; Нужна&nbsp;ли связь для организаторов.
						br
						| &bull; Есть&nbsp;ли необходимость использования в&nbsp;трансляции дополнительных материалов: титров, графики и&nbsp;пр.
						br
						| &bull; Нужны&nbsp;ли для проведения презентации и&nbsp;её&nbsp;трансляции ведущие, модели, актеры. Поможем провести их&nbsp;кастинг.
						br
						| &bull; Нужен&nbsp;ли интерактивный чат для общения с&nbsp;онлайн зрителями.
						br
						| &bull; Какие платформы и&nbsp;ресурсы нужны для вывода видео контента к&nbsp;которым будут подключаться онлайн-зрители интернет трансляции презентации.
	// end sQuestions

mixin questionItem(headerTxt, contentClasses)
	+e.item.q-item-js( class="wow  fadeInUp "  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`   )&attributes(attributes)
		+e.header!= headerTxt 
		+e.content.q-content-js(class=contentClasses)
			block