mixin s-contact()
	// start s-contact
	+b.s-contact.section.block-with-lazy#s-contact&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-contact
				
			.row
	// end s-contact