mixin allcss() 
	//- link(rel="stylesheet", href="libs/magnificPopup/magnific-popup.css")
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
	//- link(rel="stylesheet", href="css/main.css")
	//- link(rel="stylesheet", href="libs/swiper/css/swiper.min.css")
	//- link(rel="stylesheet", href="libs/slick-carousel/slick/slick.css")
	
mixin allcjs()
	link(rel="stylesheet", href="libs/animate.css/animate.min.css")
	link(rel="stylesheet", href="libs/@fancyapps/fancybox/jquery.fancybox.min.css")
	link(rel="stylesheet", href="css/main.min.css")
	//- link(rel="stylesheet", href="fonts/fontello/css/fontello.css")
	//- script(src="libs/vue/vue.min.js")
	//- script(src="js/app.js")
	//- script(src="js/lazy.js")
	script(src="libs/jquery/jquery.min.js")

	// полифил для picture
	//- script(src="libs/picturefill/picturefill.min.js")
	// полифил для object-fit
	//- script(src="libs/object-fit-images/ofi.min.js")
	// modal libs
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
	script(src="libs/wowjs/wow.min.js")
	//- script(src="js/jquery.sticky.js")
	// slider libs
	//- script(src="libs/swiper/js/swiper.min.js")
	//- script(src="libs/slick-carousel/slick/slick.min.js")
	// /slider libs
	// for svg libs
	//- script(src="libs/svg4everybody/svg4everybody.min.js")
	// /for svg libs
	script(src="libs/inputmask/jquery.inputmask.min.js")
	script(src="js/easy-responsive-tabs.js")
	script(src="js/common.js")
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js") 
	
	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs 
	//- / mask for  input  libs

	//- script(src="js/scripts.min.js")
	//- script(src="libs/magnificPopup/jquery.magnific-popup.min.js")

	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(24732935, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/24732935" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->