mixin allcss() 
	//- link(rel="stylesheet", href="libs/magnificPopup/magnific-popup.css")
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
	//- link(rel="stylesheet", href="css/main.css")
	//- link(rel="stylesheet", href="libs/swiper/css/swiper.min.css")
	link(rel="stylesheet", href="libs/slick-carousel/slick/slick.css")
	link(rel="stylesheet", href="libs/@fancyapps/fancybox/jquery.fancybox.min.css")
	link(rel="stylesheet", href="css/main.min.css")
	
mixin allcjs()
	//- link(rel="stylesheet", href="fonts/fontello/css/fontello.css")
	script(src="js/lazy.js")
	script(src="libs/jquery/jquery.min.js")
	// полифил для picture
	script(src="libs/picturefill/picturefill.min.js")
	// полифил для object-fit
	script(src="libs/object-fit-images/ofi.min.js")
	// modal libs
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
	// slider libs
	//- script(src=libs/swiper/js/swiper.min.js")
	script(src="libs/slick-carousel/slick/slick.min.js")
	// /slider libs
	// for svg libs
	script(src="libs/svg4everybody/svg4everybody.min.js")
	// /for svg libs
	script(src="libs/inputmask/jquery.inputmask.bundle.js")
	script(src="js/common.js")
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js") 
	
	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs 
	//- / mask for  input  libs

	//- script(src="js/scripts.min.js")
	//- script(src="libs/magnificPopup/jquery.magnific-popup.min.js")

