include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		<meta name="keywords" content="регистрация, аис, автоматизированные информационные системы, сайт, мобильное приложение, 3D-моделирование, сервис регистрации, регистрация на мероприятия, печать бэйджей участникам, бэйджи на мероприятии, сервис проверки статуса, встреча участников, регистрация приглашенных, регистрация участников, online registration, offline registration, прием платежей, прием оплат, регистрация на мероприятиях, предварительная регистрация, регистрация на площадке, онлайн-регистрация участников, оффлайн-регистрация участников, печать бэйджей, аккредитация участников, контроль доступа, бэйдж">
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		link(rel='shortcut icon', type="image/x-icon", href='img/favicon/favicon.ico') 
		<meta name="format-detection" content="telephone=no">
		
		meta(name='theme-color', content='#3361d8')
		+allcss()
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	body.loaded_hiding(class= mainPage) 
		block pagecontent
			h3 content
		+modal()
		+allcjs()
		
		