include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="о чем страница")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		link(rel='shortcut icon',   type="image/png",  href='img/favicon/favicon.png') 
		<meta name="format-detection" content="telephone=no">
		link(rel="image_src" href="http://genrif.ru/assets/i/soc-logo.png" )
		meta( property="og:type" content="website")
		meta( property="og:site_name" content="content")
		meta( property="og:title" content="content")
		meta( property="og:description" content="content")
		meta( property="og:url" content="content")
		meta( property="og:locale" content="ru_RU")
		meta( property="og:image" content='path/to/image.jpg')
		meta( property="og:image:width" content="968")
		meta( property="og:image:height" content="504")

		// Custom Browsers Color
		meta(name='theme-color', content='#3361d8')
		+allcss()
	block variables
	body(class= mainPage)
		+ie11()
		.main-wrapper
			block pagecontent
				h3 content
		+modal()
		+allcjs()
		
		