mixin sOnline()
	// start sOnline
	+b.SECTION.sOnline#sOnline&attributes(attributes)
		.container.section
			+pic("online-bg",'',0).pic-1
			+b.section-title--lg
				h2 Возможности онлайнтрансляции
				.h4.strong Прямой эфир
			.row
				.col( class="wow  fadeInLeft "  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`   )
					ul
						li — HD-трансляцию онлайн на любые платформы*
						li — многокамерная видеосъемка
						li — интеграция презентаций и видеороликов
						li — высококачественный звук
						li — мультиязычные трансляции
						li — синхронный перевод
						li — открытые трансляции
						li — закрытые трансляции 
						li — трансляция из нескольких залов
						li — графическое оформление эфира
						li — партнерские интеграции
						li — интерактив для зрителей
						li — трансляция на любые платформы
				.col-auto( class="wow  fadeInRight "  data-wow-delay=`${delay + .2}s` data-wow-duration=`${dur }s`   )
					+e.block
						+e.title Отправим микрофон и&nbsp;веб-камеру, если  спикер не&nbsp;может  приехать в&nbsp;студию
						p При необходимости, предоставим комплекты оборудования для отправки курьером по&nbsp;Москве. Подключается за&nbsp;30&nbsp;секунд.
						+pic('block.png','',0).pic-2
	// end sOnline